{
    "cli": {
        "folder-rules": [],
        "file-rules": [],
        "extension-set": {},
        "extensions": {
            "images": [],
            "videos": []
        },
        "to_delete":[]
    }
}